ALTO_RPC_URL=https://testnet.evm.nodes.onflow.org
ALTO_EXECUTOR_PRIVATE_KEY=0x...
ALTO_UTILITY_PRIVATE_KEY=0x...
ALTO_ENTRYPOINTS=0x0000000071727De22E5E9d8BAf0edAc6f37da032
ALTO_PORT=4337
EVM_WALLET_FACTORY_ADDRESS=0x69d8889778D1baAE4D9D84ad13367cBA570e46e6

# Paymaster
PAYMASTER_ADDRESS=0x6160d63ca23b9364e44daf9ca2acd72e374eaef5
PAYMASTER_SIGNER_KEY=0x...
PAYMASTER_PORT=4338
